<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets async="false">
    <target name="file_info" xsi:type="File" fileName="${basedir}/Log/Info.log" archiveFileName="${basedir}/Log/InfoLog_{#}.log"
            archiveEvery="Day" maxArchiveFiles="30" archiveNumbering="Date" keepFileOpen="false" encoding="UTF-8" concurrentWrites="true"
            layout="[${longdate}][${level}] ${message} ${exception}"/>

    <target name="file_error" xsi:type="File" fileName="${basedir}/Log/Error.log" archiveFileName="${basedir}/Log/ErrorLog_{#}.log"
           archiveEvery="Day" maxArchiveFiles="30" archiveNumbering="Date" keepFileOpen="false" encoding="UTF-8" concurrentWrites="true"
           layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${message} ${exception}"/>

    <target name="file_Warn" xsi:type="File" fileName="${basedir}/Log/Warn.log" archiveFileName="${basedir}/Log/WarnLog_{#}.log"
           archiveEvery="Day" maxArchiveFiles="30" archiveNumbering="Date" keepFileOpen="false" encoding="UTF-8" concurrentWrites="true"
           layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${message} ${exception}"/>

    <target name="file_Debug" xsi:type="File" fileName="${basedir}/Log/ClientInfo.log"
           archiveFileName="${basedir}/Log/ClientInfoLog_{#}.log"
           archiveEvery="Hour" archiveNumbering="Date" maxArchiveFiles="24" concurrentWrites="true"
           keepFileOpen="false" encoding="UTF-8" layout = "${longdate} ${message}"/>
  </targets>
  <rules>
    <logger name="*" level="Debug" writeTo="file_Debug" />
    <logger name="*" levels="Info"  writeTo="file_info"></logger>
    <logger name="*" levels="Error"  writeTo="file_error"></logger>
    <logger name="*" levels="Warn"  writeTo="file_Warn"></logger>
  </rules>
</nlog>